@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");

* {
    box-sizing: content-box;
    margin: 0px;
    font-family: "Raleway", sans-serif;
}

html {
    font-size: 16px;

}

.container {
    margin: auto;
}

.contain {
    max-width: 1000px;
}

h1 {
    margin-top: 50px;
    margin-bottom: 50px;
}

.form_input {
    border: 1px solid gray;
    border-radius: 15px;
    height: 50px;
    width: 50%;
    font-size: 1.2rem;
}

.btn {
    background-color: black;
    color: white;
    height: 50px;
    border-radius: 15px;
    font-size: 1.2rem;
    font-weight: 600;
    width: 15%;
    border: none;
    margin-left: 20px;
}

h2 {
    margin-top: 50px;
    margin-bottom: 50px;
}

.contain2 {
    max-width: 500px;
    border: 1px solid gray;
    border-radius: 15px;
    box-shadow: 12px 12px 2px 1px rgba(0, 0, 255, .2);
    margin-top: 50px;
}

.contain3 {
    max-width: 150px;
    border: 1px solid gray;
    border-radius: 15px;
    /* box-shadow: 12px 12px 2px 1px rgba(0, 0, 255, .2); */
}

#btn2,
#btn3,
#btn4 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 70%;
    margin-top: 20px;
    margin-bottom: 20px;
}
